In [1]:
#importing the pandas library

import pandas as pd

In [2]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df

   X
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4

In [3]:
x = (df['X'] != 0)    #comparing the dataframe values for not equal to 0
print (x)

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
8     True
9     True
Name: X, dtype: bool

In [4]:
x = (df['X'] != 0).cumsum()   #Return the cumulative sum of the elements along a given axis.
print(x)

0    1
1    2
2    2
3    3
4    4
5    5
6    6
7    6
8    7
9    8
Name: X, dtype: int64

In [5]:
y = x!=x.shift()    #Shift function of pandas.Dataframe shifts index by desired number of periods with an optional time freq
print(y)

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
8     True
9     True
Name: X, dtype: bool

In [6]:
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()     #Group series using mapper (dict or key function, apply given function to group, return result as series) or by a series of columns.
print(df['Y'])

0    1.0
1    2.0
2    0.0
3    1.0
4    2.0
5    3.0
6    4.0
7    0.0
8    1.0
9    2.0
Name: Y, dtype: float64